#host-stars {
  display: flex;
  position: relative;
  width: 10%;
  left: 81%;
  bottom: 50px;
  margin:  0px;
}

.star {
  margin-right: 2%;
}

.star-red {
  fill: #ff6060;
}

.star-grey {
  fill: #e3e3e3;
}