
@import "../../components/Collapse/Collapse.css";

#about-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    padding: 2% 3% 2% 3%;
    height: 15px;
    transform: translate(-0%, 20%);
}



details p {
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-top: 0;
    padding: 3% 1.5% 3% 1.5%;
    
}

details p, details li{
    text-align: start;
    font-size: 18px;
    color: black;
}



@media (max-width: 480px) {
    main {
        width: 474px;
    }
    summary {
        font-size: 14px; 
        height: 30px;
        
        width: 350px;
        padding-right: 15px;
        margin: 0;
    }
   
    #about-accordion {
        padding-right: 10px;
        align-items: flex-start;
        width: 350px;
        margin-right: 70px;

    }
    .about-text {
        width: 316px;
    }
    
    .about-text.open  {
        width: 316px;
        
    }
    details p, details li {
        font-size: 14px; 
        padding-left: 4%; 
        padding-right: 4%; 
    }
}




