
.about-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.about-acordion {
    display: flex;
    gap: 20px;
}
.about-title {
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: 90.5%;
}

.about-text {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 25.67px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 15px;

    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-out, padding 0.5s ease-out; 
}

.about-text.open {
    max-height: 500px; 
    padding: 30px;
    width: 92%;
}

.fa-chevron-up {
    transition: transform 0.5s ease; 
}
.fa-chevron-up {
    transition: all 0.3s;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 25px;
    
}


.rotate {
    transform: rotate(180deg);
}

@media (max-width: 480px) {

    summary {
        font-size: 14px; 
        height: 30px;
        
        width: 100%;
        
        margin: 0;
    }
   
    #about-accordion {
        width: 100% ;
    }
    .about.contener {
        width: 100%;
        margin: 0%;
        padding: 0%;
        
    }
 
    .about-text {
        width: 88% ;
        margin: 0%;
        padding: 0px;
        padding-left: 20px;
    }
    .about-text.open {
        width: 88% ;
        margin: 0%;
        padding: 20px;
    }
}