header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 150px 55px;
}

#header-logo {
    width: 145px;
    height: 47px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 180px;
    height: 30px;
    text-align: center;
    
}


.nav-link,
.nav-link-active {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.nav-link-active {
    text-decoration: underline;
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        margin: 0%;
        margin-top: 40px;
        margin-left: 30px;
        
    }
    nav {
        display: flex;
        margin: 0%;
        margin-right: 25px;
        
        
    }
  
}


@media (max-width: 768px) {
    header {
        height: 100px;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin: 0%;
        margin-bottom: 20px;

    }

    .divGall {
        background-color: white;
        margin: 0%;
        padding: 0%;
        width: 100%;

    }

    .article-grid {
        gap: 60px;
    }

    nav {
        width: 50%;
        justify-content: center;
        margin-top: 10px;
    }

    .nav-link,
    .nav-link-active {
        font-size: 14px;
    }
}

