body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (max-width: 768px) {
  body {
      font-size: 14px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
      padding: 0px;
  }

  main {
      padding: 0%; 
  }
}

@media (max-width: 480px) {
  body {
      font-size: 12px; /* Ajusta aún más el tamaño de la fuente en móviles */
  }

  main {
    width: 400px;
      flex-direction: column; /* Asegura que el contenido se apile verticalmente */
      
     
  }
}